textarea{
    resize: none;
    background-color: #404040;
    color:#00FF41;
    width: 100%;
    margin-top: 5%;
    font-family: 'Pixelify Sans', sans-serif;
    font-weight:normal;
    font-style:normal;
    font-size: 30px;
}

::placeholder{
    color:#008F11;
}

div.forms{
    text-align: center;
    width: 100%;
    height: 100%;
    padding: 5% 5%;
    box-sizing: border-box;
    /*border: 2px solid #ccc;*/
    border-radius: 2px;
    font-size: 16px;
    resize: none;
}

div input{
    margin: 5% 5% 5% 5%;
}

div #pdfSub{
    
}

form label{
    background-color: #7f9ccb;
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px ridge black;
  font-size: 0.8rem;
  height: 10px;
  
}

body, html{
    height:100%;
    margin:0;
}

#myDiv{
    height: 100%;
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow-y: hidden;
    background-image: url("Space-Background-Image-2.jpg")/*radial-gradient( circle farthest-corner at 22.4% 21.7%, #003B00 0%,black 100.2% );
*/
}

.navbar{
    overflow: hidden;
    display: flex;
}

.navbar a{
    display: block;
    color: #f2f2f2;
    font-family: 'Pixelify Sans', sans-serif;
    font-weight:normal;
    font-style:normal;
    text-align: center;
    padding: 20px 20px;
    text-decoration: none;
    font-size: 17px; 
}

.navbar a:hover{
    background-color: greenyellow;
    color: #003B00;
}
#lo:hover{
    background-color:none;
    color: #003B00;
}
