textarea{
    resize: none;
    background-color: #404040;
    color:#00FF41;
    width: 100%;
    font-family: 'Pixelify Sans', sans-serif;
    font-weight:normal;
    font-style:normal;
    font-size: 30px;
}

::placeholder{
    color:#008F11;
}

div.forms{
    text-align: center;
    width: 100%;
    height: 100%;
    padding: 10% 10%;
    box-sizing: border-box;
    /*border: 2px solid #ccc;*/
    border-radius: 2px;
    font-size: 16px;
    resize: none;
}

body, html{
    height:100%;
    margin:0;
}

#myDiv{
    height: 100%;
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow-y: hidden;
    background-image: url("Space-Background-Image-2.jpg")/*radial-gradient( circle farthest-corner at 22.4% 21.7%, #003B00 0%,black 100.2% );
*/
}

.navbar{
    background-color:#404040;
    overflow: hidden;
    display: flex;
    margin-bottom: 5%;
}

.navbar a{
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 20px 20px;
    text-decoration: none;
    font-size: 17px; 
}

#logo{
    width:120px;
    height:50px
}

.navbar .other{
    padding-top: 3%;
    padding-bottom: 3%;
}

.navbar .other:hover{
    background-color: greenyellow;
    color: #003B00;
}
#lo:hover{
    background-color:none;
    color: #003B00;
}
