<!DOCTYPE html>
<html>
    <head>
        <link  href="{{ url_for('static', filename='styles/style.css')}}" rel="stylesheet" />
        <title>MonkeyAtKeyboardTyping</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Pixelify+Sans&display=swap" rel="stylesheet">
        
    </head>
    <body id = "back">
        
            <div id="myDiv">
                <div class = "sidenavbar">
                    <a href = "#FORMS" id="home">monkeyatkeyboard</a>
                    <a href = "#aboutPage" id="about">About</a>
                    
                </div>

                <section class="sections">
                <div class="content">
                    <div id = "FORMS" class = "forms">
                        <form action="/output">
                            <label for="pdfSub">Choose PDF to upload (pdf)</label>
                            <input accept=".pdf"  type = "file" id = "pdfSub" name = "pdfSub" multiple hidden>

                            <textarea id="text-input" name="text-input" placeholder="Text" rows="20"></textarea>

                            <button id="submit-btn" class="press" type="submit">Submit</button>
                            </form>
                    </div>
                </div>

                <div class="output"> {{ output }}</div>

            </section>

            <section class="sections1">
                <div id = "aboutPage" class = "content">
                    <h1>Project Entails</h1>
                    <h2>Front End</h2>
                    <p>
                        We used HTML, CSS, a bit of Javascript to create our Front End Environment.
                        Through this, we focused on creating a interactive interface and while
                        showing a welcoming interface that uses animations and understanding of 
                        formating and creative UI.
                    </p>
                    <h2>Back End</h2>
                    <p>

                    </p>

                </div>
            </section>

            <footer class="content">
                <div class="container">
                    <div>
                        <img class="monkey">
                    </div>
                    <div class = "part1">
                        <h3>Brave Monkeys</h3>
                        <ul>
                            <li>Jason</li>
                            <li>Jonathan</li>
                            <li>Diego</li>
                            <li>Victor</li>
                        </ul>
                    </div>
                </div>
            </footer>
        </div>

    </body>
</html>